

.field {
    position: relative;
}

.changePasswordForm .fa-pen {
    position: absolute;
    top: -24px; /* можно подкорректировать под дизайн */
    right: 8px;
    background-color: cornsilk;
    padding: 0.3em;
    border-radius: 50%;
    font-size: 1rem;
    color: gray;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    z-index: 2;
}

.field .fa-pen:hover {
    transform: scale(1.1);
    color: #d94700;
}

.field__errors {
    display: flex;
    flex-direction: column;
    row-gap: 0.4em;
    margin-top: 0.5em;
    font-size: 0.8em;
    color: red;
    line-height: 1.25;

    min-height: 2.4em;
    max-height: 2.4em; /* жёстко фиксируем максимум  регулировка чтобы формочка не прыгала*/
    overflow: hidden;

    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.field__errors:empty {
    opacity: 0;
    pointer-events: none;
}
.changePasswordForm{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 480px; /* фиксируем ширину */
    min-width: 480px; /* можно добавить для надёжности */
    max-width: 480px;
    background-color: cornsilk;
    border: 4px solid coral;
    border-radius: 15px;

    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    padding-top: 3rem;
    padding-bottom: 3rem;
}